<ion-header >
  <ion-toolbar color = "dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="flex-header">
      <ion-icon name="walk-outline" size="large" color="dark"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content >


<div class="logo">
  <ion-label>
    STEP COUNTER
  </ion-label>
</div>

<div class="flex-center2" >
  <ion-col class="flex-center2">
      <ion-label class="title">
        Depending on your age and weight, calories burnt estimations may differ:
      </ion-label>
   

    <ion-card color="dark" class="flex-card">

      <ion-card-header>
        <ion-card-title>
          Age:
        </ion-card-title>
      </ion-card-header>

      <ion-card-content class = "flex-content-center">
        <ion-item color="dark">
          <ion-label>Enter Age:   </ion-label>
          <ion-input placeholder="default: (25yo)" type="number"></ion-input>
        </ion-item>

        
      </ion-card-content>
      <ion-button color="primary" size="full">Enter</ion-button>

    </ion-card>


    <ion-card color="dark" class="flex-card">

      <ion-card-header>
        <ion-card-title>
          Weight:
        </ion-card-title>
      </ion-card-header>

      <ion-card-content class = "flex-content-center">
        <ion-item color="dark">
          <ion-label>Enter Weight:   </ion-label>
          <ion-input placeholder="default: (70kg)" type="number"></ion-input>
        </ion-item>

        
      </ion-card-content>
      <ion-button color="primary" size="full">Enter</ion-button>

    </ion-card>

    <div class = "return">
      <ion-button>
        <ion-icon name="arrow-back-outline"></ion-icon>
        Return
      </ion-button>
      
    </div>
  </ion-col>
</div>
</ion-content>
