<ion-header >

  <div class="flex-header">
    <ion-icon name="walk-outline" size="large"></ion-icon>
  </div>

</ion-header>

<ion-content >


<div class="logo">
  <ion-label>
    STEP COUNTER
  </ion-label>
</div>

<div class="flex-center2" >
  <ion-col class="flex-center2">
      <ion-label class="title">
        Keep your activity and health in check!
      </ion-label>
   

    <ion-card color="dark" class="flex-card">

      <ion-card-header>
        <ion-card-title>
          Motivational Quote:
        </ion-card-title>
      </ion-card-header>

      <ion-card-content class = "flex-content-center">
        <ion-item color="dark">
          <ion-textarea
            disabled
            readonly
            autoGrow
            value = "Need motivation? pshhhht just walk it off.">
        </ion-textarea>
        </ion-item>

        
      </ion-card-content>
      

    </ion-card>

    <div class = "return">
      <ion-button>
        <ion-icon name="arrow-back-outline"></ion-icon>
        Return
      </ion-button>
      
    </div>
  </ion-col>
</div>
</ion-content>
