<ion-header >
  <ion-toolbar color = "dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="flex-header">
      <ion-icon name="walk-outline" size="large" color="dark"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content >


<div class="logo">
  <ion-label>
    STEP COUNTER
  </ion-label>
</div>

<div class="flex-center2" >
  <ion-col class="flex-center2">
      <ion-label class="title">
        Keep your activity and health in check!
      </ion-label>
   

    <ion-card color="dark" class="flex-card">

      <ion-card-header>
        <ion-card-title>
          Instructions:
        </ion-card-title>
      </ion-card-header>

      <ion-card-content class = "flex-content-center">
        <ion-item color="dark">
          <ion-textarea
            disabled
            readonly
            autoGrow
            value = "This app is designed for you to keep a track on how many steps you taken, distance traveled and calories burnt. To get the most out of this app, we highly recommend you add your age, weight and step length (distance you cover in each step). If the app knows these values, it will be able to show the most accurate stats.">
        </ion-textarea>
        </ion-item>

        
      </ion-card-content>
      

    </ion-card>

    <div class = "return">
      <ion-button (click)="instructionContinue()">
        Continue
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-button>
      
    </div>
  </ion-col>
</div>
</ion-content>
